body{
    margin: 0;
    padding: 0;
    color: #222;
    /*from the site*/
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    background: #f7f7f7;
}

.site_wrapper{
    margin: 0;
    border: 0;
    /*space-between:*/
    width: 100%;
    overflow: hidden;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    
}

/* HEADER WITH TWITTER-LINK AND MENU*/
.header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-flow: space-between;
    /*width: 99%;*/
    height: 44px;
    padding: 23px 23px 0px;
    align-items: center;
} 

.header_social{
    margin: 0px 0px 0px 5px;
}

.header_button_menu button{
    color: #a5a5a5;
    margin-left: 20px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 30px;  
}

.logo{
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: center;
}

/* Search FORM*/

.search{
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: center;
    padding: 18px 11px 14px;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
}

#search_form{
    max-width: 590px;
    height: 45px;
    flex: 1 0 80%; /*flex grow, flex shrink, size*/
}

#search_field {
    width:70%;
    cursor: text;
}

#search_button{
    margin: -1px -3px -1px 0px;
}

/**First secrion **/
.badge-title {
    font-weight: 800;
    font: DDG;
    margin-bottom: auto;
    padding: 0 0 11px;
    font-size: 40px;
    line-height: 1.1;
    text-align: left;
    color: #353748;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: initial;
}

.badge-link{
    padding: 0 0 14px;
    font-size: 17px;
    color: #353748;
    line-height: 1.4;
    list-style: none;
}

.badge{
    color: #6FBF5C;
    margin-right: 12px;
    text-decoration: none;
}